body{
    @extend %opensans-400;
    font-size: 13px;
    line-height: 23px;
    color: $default;
}
html{
    scroll-behavior: smooth;
}

.container{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

button{
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    @extend %opensans-700;
    text-transform: uppercase;
    background-color: $checkedcolor;
    padding: 11px 26px;
    border: none;
    outline: none;
    cursor: pointer;
}

a{
    @extend %opensans-600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: $default;
    text-transform: uppercase;
    cursor: pointer;
    &::checked{
        color: $checkedcolor;
    }        
}


.title{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    @extend %opensans-700;
    color: $default;
    text-transform: uppercase;
}