@import '_vars';
@import '_fonts';
@import '_reset';
@import '_global';



.header{
    background-image: url(../image/bg/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__menu-btn{
    display: none;
}

.header__top-link{
    margin: 0 auto;
}

.header__title{
    @extend %opensans-800;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.header__text{
    @extend %opensans-600;
    font-size: 16px;
    line-height: 21px;
    color: #fff;    
}

.header__bottom-link{
    @extend %opensans-600;
    font-size: 11px;
    line-height: 15px;
    color: #fff; 
    letter-spacing: 3px;
}

.menu{
    padding: 23px 10px 24px;
    border-bottom: 1px solid #e6e6e6;
}

.menu__inner{
    display: flex;
    justify-content: space-between;
}

.nav__list{    
    display: flex;
    justify-content: space-between;
}

.nav__item{
    margin-left: 40px;
}

.story{
    padding: 58px 0;

    .title{
        padding: 10px;
        position: relative;
        display: inline-block;
        width: 141px;
        margin-bottom: 80px;
        &::after{
            content:"";
            width: 50px;
            height: 2px;
            background-color: $checkedcolor;
            position: absolute;
            bottom: 0;
            left: calc(141px - 69%);
        }
    }
}

.story__inner{
    text-align: center;
}

.story__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__images{
    display: flex;
    justify-content: space-between;
}

.story__inform{
    width: 394px;
    text-align: left;
    margin-right: 37px;
}

.story__sub-title{
    @extend %opensans-700;
    font-size: 20px;
    line-height: 27px;
    color: $default;
    margin-bottom: 30px;
}

.blue-color{
    color: $checkedcolor;
}

.story__img{
    margin-left: 20px;
    height: 224px;
}

.capabilities{
    padding: 58px 0;
}

.capabilities__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    .title{
        flex-basis: 295px;
        position: relative;
        padding-bottom: 10px;
        margin-right: 150px;
        &::after{
            content:"";
            width: 50px;
            height: 2px;
            background-color: $checkedcolor;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.capabilitiex__box{
    display: flex;
    justify-content: space-between;
}

.inner__text{
    font-size: 11px;
    line-height: 19px;
    flex-basis: 380px;
}

.capabilities__items{
    display: flex;
    justify-content: space-between;
}

.capabilities__item{
    border: 1px solid #e6e6e6;
    padding: 38px 23px;
    margin-right: 28px;
    width: 288px;
}

.catabilities__img{
    margin-bottom: 25px;
}

.capabilities__title{
    margin-bottom: 13px;
    @extend %opensans-700;
    font-size: 16px;
    line-height: 24px;
    color: $default;
    width: 240px;
}

.build{
    padding-top: 120px;
    background-image: url(../image/bg/bottom-bg.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.build__title{
    @extend %opensans-700;
    font-size: 30px;
    line-height: 36px;
    color: $default;    
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.singup{
    padding: 35px 0;
    background-color: #171819;
}

.singup__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.singup__title{
    @extend %opensans-700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #fff;
    margin-right: 70px;
}


.singup__input{
    padding: 7px 16px;
    flex-basis: 250px;
    outline: none;
    border: 1px solid #979797;
    position: relative;
    right: -4px;
}

.footer{
    background-color: #141A20;
}

.footer__inner{
    padding: 42px 0 48px;
    display: flex;
    justify-content: space-between;
}

.footer-company{
    flex-basis: 205px;
}

.footer__title{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 19px;
}

.footer-company__logo{
    margin-bottom: 15px;
}

.footer-company__text{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 19px;
    color: #fff;
    letter-spacing: 1px;
}

.footer__box{
    display: flex;
    justify-content: space-between;
}

.footer-links__list{
    margin-right: 34px;
    &:last-child{
        margin-right: 0;
    }        
}

.footer-links__item{
    @extend %opensans-600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #fff;
}

.footer__contact{
    flex-basis: 140px;
}

.footer__address{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer__phone{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 20px;    
}

.footer__mail{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    letter-spacing: 1px;
}

.footer__social-media{
    display: flex;
}

.footer__social-link{
    margin-right: 25px;
    &:last-child{
        margin-right: 0;
    }
}

.footer__social-img{
    width: 15px;
    height: 15px;
}

.footer-bottom{
    padding: 23px 0;
    background-color: #171819;
    text-align: center;
}

.footer-bottom__text{
    @extend %opensans-400;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
    letter-spacing: 1px;
}

























@import 'media';


